# Replace the credentials here with your own.
# Rename this file to .env before starting the app.

# Watson Natural Language Understanding
NATURAL_LANGUAGE_UNDERSTANDING_USERNAME=<add_username>
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD=<add_password>

# Watson Speech to Text
SPEECH_TO_TEXT_USERNAME=<add_username>
SPEECH_TO_TEXT_PASSWORD=<add_password>
